database.rar
Imagens e Matrizes da Tese de Thiago Alves Elias da Silva
notebooks/thermal-images-for-breast-cancer-diagnosis-dmrir.zip
reports/zuluaga-gomez2020.pdf
models/*

# wandb files
wandb
model.onnx

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class